[Unit]
Description=Run script that restart psmouse modprobe module with "proto=imps"
After=systemd-modules-load.service

[Service]
ExecStart=/usr/local/bin/touchpad-fix
Type=oneshot

[Install]
WantedBy=multi-user.target
