[Unit]
Description=Run script that restart psmouse modprobe module with "proto=imps"
After=systemd-modules-load.service

[Service]
RemainAfterExit=true
ExecStop=/usr/local/bin/touchpad-fix
Type=oneshot

